<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>

<body>
    <h1>Cupcakes</h1>
    <ul id="cupcake-list"></ul>

    <hr>

    <h2>Add a Cupcake</h2>
    <form id="new-cupcake-form">
        <label for="flavor">Flavor</label>
        <input type="text" id="flavor" name="flavor" required>

        <label for="size">Size</label>
        <input required type="text" id="size" name="size">

        <label for="rating">Rating</label>
        <input required type="number" step="0.5" id="rating" name="rating">

        <label for="image">Photo of Cupcake</label>
        <input type="url" id="image" name="image">

        <button>Submit</button>

    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
</body>

</html>