<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Boggle</title>
</head>
<body>
    <main>
        <header>
            <h1>Boggle</h1>
        </header>
        <section id="game-area">
            <table id="game-board">
                {% for row in board %}
                <tr>
                    {% for letter in row %}
                    <td data-x="{{row.index(letter)}}" data-y="{{board.index(row)}}">{{letter}}</td>
                    {% endfor %}
                </tr>    
                {% endfor %}
            </table>
            <div id="guesses-area">
                <h2>Guesses</h2>
                <div id="valid-guesses"></div>
                <div id="invalid-guesses"></div>
            </div>
            <form action="/guess" method="POST">
                <input type="text" placeholder="Enter a guess" aria-placeholder="Enter a guess" name="guess" id="guess">
                <button id="submit-btn">Submit</button>
            </form>
        </section>
    </main>
    
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>        
</body>
</html>