{% extends "base.html" %}

{% block title%}Question {{number}}{% endblock %}

{% block content%}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1 class="question">{{question}}</h1>
<form method="POST" action="/answer" id="question-form">
    <div class="radio-group">
        {% for choice in choices %}
        <input type="radio" id="{{choice}}" name="response" value="{{choice}}">
        <label for="{{choice}}">{{choice}}</label>
        <input type="hidden" name="which_number" value="{{number}}">
        {% endfor %}
    </div>
    <button>Next</button>
</form>
{% endblock %}