.Nav {
  width: 100%;
  background-color: rgb(76, 149, 218);
  height: 3rem;
}

#site-name {
  display: inline-block;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  color: orange;
}

.Nav > ul {
  list-style-type: none;
  display: inline-block;
  width: auto;
}

.Nav > ul > li {
  display: inline-block;
  margin: 10px;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:focus,
a:hover {
  font-weight: bold;
}

a:active {
  color: rgb(126, 182, 233);
}
