{% extends "base.html" %}
{% block title %}User Information{% endblock %}
{% block content %}
<section>
    <h2>User Information</h2>
    <ul class="bg-light border border-primary rounded p-2 mb-4" style="list-style: none;">
        <li><strong>Username:</strong> {{user.username}}</li>
        <li><strong>Name:</strong> {{user.first_name}} {{user.last_name}}</li>
        <li><strong>Email:</strong> {{user.email}}</li>
    </ul>
    <div>
        <a href="/users/{{user.username}}/delete" class="btn btn-danger">Delete User</a>
    </div>
</section>


<section>
    <h3>Feedback</h3>
    {% if user.feedbacks %}
    <div class="row">
        {% for i in user.feedbacks %}
        <div class="col-lg-4 col-md-6 col-sm-12 bg-light border border-primary rounded p-2 mb-4">
            <h4>{{i.title}}</h4>
            <p class="m-0">{{i.content}}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No feedback yet!</p>
    {% endif %}
</section>

<a href="/users/{{user.username}}/feedback/add" class="btn btn-primary">+ Add New Feedback</a>

{% endblock %}